
ol.entry {
  list-style-image: none;
  list-style-type: lower-alpha;
  list-style-position: outside;
  border: none;
  width: 725px;
}

li.entry{
  width: 725px;
}


.entry {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  font-size: 1.0em;
  border-bottom: 2px solid rgb(0, 139, 93);
}

.clickMsg {
  font-style: italic;
  font-size: 0.75em;
  font-weight: lighter;
}

p.definition {
  font-weight: bold;
  text-align: justify;
  font-size: 0.75em;
}

ul.assets {
  display: inline;
  padding-left: 0px;
  background: none;
  list-style-image: none;
  list-style-type: none;
}

ul.assets li {
  padding-left: 0.1em;
  text-align: left;
  width: 7em;
  display: block;
  padding: 5px 0px;
}

img.asset {
  float: right;
  left: 0em;
}

ol.example, ol.frequency{
  list-style-type: none;
  font-style: italic;
  text-align: justify;
  font-size: 0.75em;
  padding: 7px 20px 0px 20px;
}

li.frequency {
  display: inline;
  padding: 0px 0px;
}

li.example{
  padding: 0px;
}

ol.senses {
  padding: 0px 0px;
  list-style-type: lower-roman;
  font-size: 0.9em;
  margin: 0px 10px 0px 0px;
}

li.sense {
  padding: 0px 0px;
}

p.definition {
  margin: 0px 0px;
  line-height: 1em;
}


